<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Original_Tweet</th>
      <th>Cleaned_Tweet</th>
      <th>Polarity</th>
      <th>Sentiment</th>
      <th>Confidence</th>
      <th>Predicted</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>b"RT @FoxNews: FOX NEWS FIRST: Beto O'Rourke shifts on AR-15s, Musk's recession take and more top headlines\nhttps://t.co/vtZfYllihV"</td>
      <td>rt fox news first beto rourke shift ar musk recession take top headline</td>
      <td>0.416667</td>
      <td>positive</td>
      <td>[41.62]</td>
      <td>Negative</td>
    </tr>
    <tr>
      <th>1</th>
      <td>b'RT @wallstreetboiz: Recession? Bear Market? Not on our watch. \n\n5555 Wall Street Boys are here to bring back your profits.\n\nFirst 555 to Li\xe2\x80\xa6'</td>
      <td>rt recession bear market watch wall street boys bring back profit first li</td>
      <td>0.125000</td>
      <td>weakly positive</td>
      <td>[79.01]</td>
      <td>Positive</td>
    </tr>
    <tr>
      <th>2</th>
      <td>b'The Fed must boost rates by a full percentage point at every meeting to bring down inflation and avoid a job-killin\xe2\x80\xa6 https://t.co/B53yQvQcBn'</td>
      <td>feed must boost rat full percentage point every meet bring inflation avoid job killin yqvqcbn</td>
      <td>0.097222</td>
      <td>weakly positive</td>
      <td>[33.55]</td>
      <td>Negative</td>
    </tr>
    <tr>
      <th>3</th>
      <td>b'@BethRigby @kitty_donaldson You only have to listen to the language that this man-child uses to realise that he doe\xe2\x80\xa6 https://t.co/yxEn6wVxTP'</td>
      <td>listen language man child use realise doe wvxtp</td>
      <td>0.000000</td>
      <td>neutral</td>
      <td>[62.87]</td>
      <td>Positive</td>
    </tr>
    <tr>
      <th>4</th>
      <td>b'DSP the only dude to know his audience are literally 13-24 and expect them to pay him $300 a day in tips, plus supe\xe2\x80\xa6 https://t.co/EAjZtgndGT'</td>
      <td>dsp dude know audience literally expect pay day tip plus supe</td>
      <td>0.000000</td>
      <td>neutral</td>
      <td>[61.53]</td>
      <td>Positive</td>
    </tr>
    <tr>
      <th>5</th>
      <td>b'Global equity funds saw their biggest inflows in 10 weeks, led by US stocks, as cheaper valuations lured buyers aft\xe2\x80\xa6 https://t.co/2B95BdHW6F'</td>
      <td>global equity fund saw biggest inflows weeks lead us stock cheaper valuations lure buyers aft b bdhw f</td>
      <td>0.000000</td>
      <td>neutral</td>
      <td>[44.67]</td>
      <td>Negative</td>
    </tr>
    <tr>
      <th>6</th>
      <td>b'RT @Fxhedgers: CITIGROUP DOWNGRADES US STOCKS TO NEUTRAL, CITING RISING RECESSION RISK'</td>
      <td>rt citigroup downgrade us stock neutral cite rise recession risk</td>
      <td>0.000000</td>
      <td>neutral</td>
      <td>[63.75]</td>
      <td>Positive</td>
    </tr>
    <tr>
      <th>7</th>
      <td>b"RT @FraserNelson: In yesterday's Cabinet, the windfall tax was spoken of as a triumph - not with any regret. Only Mogg sounded a note of ca\xe2\x80\xa6"</td>
      <td>rt yesterday cabinet windfall tax speak triumph regret mogg sound note ca</td>
      <td>0.000000</td>
      <td>neutral</td>
      <td>[49.92]</td>
      <td>Negative</td>
    </tr>
    <tr>
      <th>8</th>
      <td>b'Elon Musk said a recession would be \xe2\x80\x98good\xe2\x80\x99 for the economy because it\xe2\x80\x99ll hurt work-from-home fans and \xe2\x80\x98foolish\xe2\x80\x99 bus\xe2\x80\xa6 https://t.co/rsvzgKcjwq'</td>
      <td>elon musk say recession would good economy hurt work home fan foolish bus</td>
      <td>0.700000</td>
      <td>strongly positive</td>
      <td>[29.5]</td>
      <td>Negative</td>
    </tr>
    <tr>
      <th>9</th>
      <td>b'Recession is on the cards.  #WallStreet #recession #Fed #inflation #boe #imf https://t.co/A2TNXpbTzM'</td>
      <td>recession card wallstreet recession feed inflation boe imf tnxpbtzm</td>
      <td>0.000000</td>
      <td>neutral</td>
      <td>[33.81]</td>
      <td>Negative</td>
    </tr>
  </tbody>
</table>